<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StockFighter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBE3D2E41C40DE0E00DC23CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBE3D2FA1C40DE0F00DC23CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBE3D3051C40DE0F00DC23CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
